In [2]:
#check if python is installed
try:
  !python --version
except:
  print("It does not look like python is installed")

Python 3.6.9

Importing Data

In [3]:
#import from kaggle.json from local to drive
!pip install -q kaggle
from google.colab import files
files.upload()

Saving USvideos.csv to USvideos.csv

In [ ]:
#make a kaggle folder
!mkdir ~/kaggle

In [ ]:
!cp kaggle.json ~/kaggle/

In [ ]:
! chmod 600 ~/kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d datasnaek/youtube-new

In [1]:
#import modules
import pandas as pd
import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn import tree
from sklearn import metrics 


#load file
def load_csv(file):
	df = pd.read_csv(file)
	return df


#main
if __name__== "__main__":
  date_file = "USvideos.csv"

df = pd.read_csv("USvideos.csv")
df1 = df.iloc[:30000,:]

In [47]:
df1.shape

(24000, 16)

In [2]:
!ls -lh
!free -g

total 62M
drwxr-xr-x 1 root root 4.0K Nov  6 17:30 sample_data
-rw-r--r-- 1 root root  62M Nov  9 19:20 USvideos.csv
              total        used        free      shared  buff/cache   available
Mem:             12           7           4           0           0           4
Swap:             0           0           0

familiarize myself with the data

In [ ]:
#get column headers
for col in df:
    print(col)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [ ]:
df.describe()

In [ ]:
#Check for null values
null = df.isna().sum()

for key in null.keys():
    if(null[key] > 0):
        print(key,":",null[key])

decision tree

In [54]:
inputs = df1.drop(['views', 'video_id'], axis ='columns')
target = df1['views']

le_trending_date = LabelEncoder()
le_title = LabelEncoder()
le_channel_title = LabelEncoder()
le_category_id = LabelEncoder()
le_publish_time = LabelEncoder()
le_tags = LabelEncoder()
le_likes = LabelEncoder()
le_dislikes = LabelEncoder()
le_comment_count = LabelEncoder()
le_comments_disabled = LabelEncoder()
le_ratings_disabled = LabelEncoder()
le_description = LabelEncoder()

In [55]:
inputs['trending_date_n'] = le_trending_date.fit_transform(inputs['trending_date'])
inputs['le_title_n'] = le_title.fit_transform(inputs['title'])
inputs['le_channel_title_n'] = le_channel_title.fit_transform(inputs['channel_title'])
inputs['le_category_id_n'] = le_category_id.fit_transform(inputs['category_id'])
inputs['le_publish_time_n'] = le_publish_time.fit_transform(inputs['publish_time'])
inputs['le_tags_n'] = le_tags.fit_transform(inputs['tags'])
inputs['le_likes_n'] = le_likes.fit_transform(inputs['likes'])
inputs['le_dislikes_n'] = le_dislikes.fit_transform(inputs['dislikes'])
inputs['le_comment_count_n'] = le_comment_count.fit_transform(inputs['comment_count'])
inputs['le_comments_disabled_n'] = le_comments_disabled.fit_transform(inputs['comments_disabled'])
inputs['le_ratings_disabled_n'] = le_ratings_disabled.fit_transform(inputs['ratings_disabled'])
#inputs['le_description_n'] = le_description.fit_transform(inputs['description'])
inputs.head()

  trending_date  ... le_ratings_disabled_n
0      17.14.11  ...                     0
1      17.14.11  ...                     0
2      17.14.11  ...                     0
3      17.14.11  ...                     0
4      17.14.11  ...                     0

[5 rows x 25 columns]

In [56]:
inputs_n = inputs.drop(['trending_date', 'title', 'channel_title', 'category_id', 'publish_time', 'tags', 
                        'likes', 'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled', 
                        'ratings_disabled', 'video_error_or_removed', 'description'], axis = 'columns')
inputs_n

       trending_date_n  ...  le_ratings_disabled_n
0                   13  ...                      0
1                   13  ...                      0
2                   13  ...                      0
3                   13  ...                      0
4                   13  ...                      0
...                ...  ...                    ...
29995              123  ...                      0
29996              123  ...                      0
29997              123  ...                      0
29998              123  ...                      0
29999              123  ...                      0

[30000 rows x 11 columns]

In [ ]:
model = tree.DecisionTreeClassifier()
model.fit(inputs_n, target)

testing different decision tree method

In [2]:
x = df1.drop(['trending_date','video_id', 'title', 'channel_title', 'publish_time', 'tags', 'category_id',
             'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed', 'description', 'views'], axis = 'columns')
y = df1.views
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.8, random_state = 32)

In [3]:
DecisionTree_Class_Model = DecisionTreeClassifier()

In [ ]:
DecisionTree_Class_Model.fit(x_train, y_train)

In [1]:
!nvidia-smi

Mon Nov  9 22:09:55 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.32.00    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   36C    P8     9W /  70W |      0MiB / 15079MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [51]:
y_pred = DecisionTree_Class_Model.predict(x_test)
y_pred

array([7691902,   16335,  480970, ...,  251443,  218085, 2197143])

In [52]:
accuracy = metrics.accuracy_score(y_test, y_pred)
accuracy

5.208333333333334e-05

random forest

statistical findings

In [ ]:
#average view per trending video
average = sum(df["views"]) / len(df["views"])

print("The average view per trending video is",str(round(average,2)))

The average view per trending video is 2360784.64

In [ ]:
#clean publish date
#currently date is formatted 2017-11-13
for time in df["publish_time"]:
    slicedtime = time[:10]
    date_obj = datetime.datetime.strptime(slicedtime, "%Y-%m-%d")
    print(date_obj)

In [ ]:
#clean trending date
#currently date is formatted 17-14-11
twenty = ("20")
for date in df["trending_date"]:
    takeoutperiods = date.replace(".","-")
    dateformat = str(twenty + takeoutperiods)
    date_obj2 = datetime.datetime.strptime(dateformat, "%Y-%d-%m")
    print(date_obj)

In [ ]:
#how long does it take for a video to trend on average
print(date_obj2 - date_obj)

28 days, 0:00:00

In [33]:
#find 10 most common tags
from collections import Counter
tag_lst = []

for tags in df["tags"]:
  tag_lst.append(tags)

c = Counter(tag_lst)
c.most_common(10)

[('[none]', 1535),
 ('ABC|"americanidol"|"idol"|"american idol"|"ryan"|"seacrest"|"ryan seacrest"|"katy"|"perry"|"katy perry"|"luke"|"bryan"|"luke bryan"|"lionel"|"richie"|"lionel richie"|"season 16"|"american idol XVI"|"television"|"ad"|"spring"|"2018"|"music"|"reality"|"competition"|"song"|"sing"|"audition"|"auditions"|"performance"|"live"|"fox"|"AI"|"hollywood"|"contestant"|"official"|"american"|"official american idol"|"hollywood week"|"hometown audition"',
  87),
 ('Jacksfilms|"Jack Douglass"|"YGS"|"YGS 100"|"YGS 50"|"The Best of Your Grammar Sucks"|"Your Grammar Sucks"|"YIAY"|"Yesterday I Asked You"|"Fidget Spinners"|"Emoji Movie"|"Kermit Sings"|"JackAsk"|"Jack Ask"|"Dubstep Solves Everything"|"Frozen 2"|"iPhone Parody"|"Apple Parody"',
  80),
 ('James Corden|"The Late Late Show"|"Colbert"|"late night"|"late night show"|"Stephen Colbert"|"Comedy"|"monologue"|"comedian"|"impressions"|"celebrities"|"carpool"|"karaoke"|"CBS"|"Late Late Show"|"Corden"|"joke"|"jokes"|"funny"|"funny video"|"funny videos"|"humor"|"celebrity"|"celeb"|"hollywood"|"famous"',
  71),
 ('The Late Show|"Stephen Colbert"|"Colbert"|"Late Show"|"celebrities"|"late night"|"talk show"|"skits"|"bit"|"monologue"|"The Late Late Show"|"Late Late Show"|"letterman"|"david letterman"|"comedian"|"impressions"|"CBS"|"joke"|"jokes"|"funny"|"funny video"|"funny videos"|"humor"|"celebrity"|"celeb"|"hollywood"|"famous"|"James Corden"|"Corden"|"Comedy"',
  66),
 ('BIGHIT|"빅히트"|"방탄소년단"|"BTS"|"BANGTAN"|"방탄"', 54),
 ('Super Slow Show|"Slow Motion"|"4K"|"Explosion"|"Slo Mo Guys"|"Tony Hawk"|"Kevin Durant"|"Gav & Dan"',
  50),
 ('Viral|"Video"|"Epic"', 46),
 ('best vines 2018|"funny vines"|"funny videos"|"funniest videos 2018"', 46),
 ('Pentatonix|"Penatonix"|"PTX"|"PTXofficial"|"Mitch Grassi"|"Kirstie Maldonado"|"Scott Hoying"|"Avi Kaplan"|"Kevin"|"Olusola"|"K-O."|"Cello"|"Cellobox"|"Beatbox"|"A Cappella"|"Harmony"|"Acapella"|"Acappela"|"Choir"|"Singing Competition"|"The Sing-Off"|"Sing-Off"|"Reality TV"|"Sing"|"Singing"|"Chorus"|"Sara Bareilles"|"Shawn Stockman"|"Ben Folds"|"Ben Folds 5"|"American Idol"|"X-Factor"|"The Voice"|"Voice"|"Pitch Perfect"',
  43)]

Cateogry Id List:
2 - Autos & Vehicles
1 -  Film & Animation
10 - Music
15 - Pets & Animals
17 - Sports
18 - Short Movies
19 - Travel & Events
20 - Gaming
21 - Videoblogging
22 - People & Blogs
23 - Comedy
24 - Entertainment
25 - News & Politics
26 - Howto & Style
27 - Education
28 - Science & Technology
29 - Nonprofits & Activism
30 - Movies
31 - Anime/Animation
32 - Action/Adventure
33 - Classics
34 - Comedy
35 - Documentary
36 - Drama
37 - Family
38 - Foreign
39 - Horror
40 - Sci-Fi/Fantasy
41 - Thriller
42 - Shorts
43 - Shows
44 - Trailers

In [34]:
#category id
category_lst = []
for category in df["category_id"]:
  category_lst.append(category)

c = Counter(category_lst)
c.most_common(10)

[(24, 9964),
 (10, 6472),
 (26, 4146),
 (23, 3457),
 (22, 3210),
 (25, 2487),
 (28, 2401),
 (1, 2345),
 (17, 2174),
 (27, 1656)]

Most Common Categories that trend are: Entertainment, Music, Howto & Style, Comedy, People & Blogs